.section-02{
    background-color: var(--section-color-02);
    height: 100vh;
    box-sizing: border-box;
}



.section-02-text-about{
    position: relative;
    top: 100px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: var(--primary-color);
    text-align: justify;
    width: 40%;
    border-radius: 4px;
}


.section-02-container-about{
    display: flex;
    justify-content: center;
}
