.section-05{
    background-color: var(--section-color-01);
    height: 500px;
    box-sizing: border-box;
}

.contact{
    display: flex;
    justify-content: center;
    position: relative;
    top: 40%;
}

.contact p{
    font-size: 20px;
}

.contact p a{
    text-decoration: none;
    color: var(--second-color);
}

.contact span{
    border-bottom: 3px solid var(--second-color);
}

.contact p:first-child{
    border-right: 2px solid var(--second-color);
}

@media screen and (max-width: 640px) {
    .contact{
        flex-direction: column;
        
    }

    .contact p:first-child{
        border-right: none;
    }
   
   
}


@media screen and (max-height: 420px) {
    .section-05{
        height: 100vh;
    }

    
 
}
