.section-01{
    background-color: var(--section-color-01);
    height:100vh; 
    box-sizing: border-box;
    position: relative;
}



.section-01-img{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: auto; 
    opacity: 15%;
}



.section-01-info{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: relative;
    top: 20%;
    left: 10%;
    max-width: 500px;
    height: auto;
}

.section-01-info h3{
    width: 100%;
    font-family: inherit;
    font-size: 35px;
    color: var(--primary-color);
    
}

.section-01-info h3 em{
    font-style: normal;
    color: var(--second-color);
}

.section-01-info ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    margin: 0;
    height: 80px;
}

.section-01-info ul li{
    color: var(--primary-color);
    font-family: inherit;
    font-size: 24px;
    border-bottom: 2px solid var(--second-color);
    width: 215px;
}




.section-01-button{
    width: 200px;
    text-align: center;
    position: relative;
    top: 20px;
    margin: 0;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    background: none;
    color: var(--primary-color);
    border: 3px solid var(--second-color);
    border-radius: 10px;
    padding: 15px 20px;
    transition: box-shadow .8s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    text-decoration: none;
}

.section-01-button:hover{
    box-shadow: inset 0 -5em var(--second-color); 
    cursor: pointer;
    color: black;
}



