.section-04{
    background-color: var(--section-color-02);
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
}


.section-04 .section-04-wrapper-projects{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100vh;
}

.section-04 .project-img{
    width: 400px;
    height: 240px;
    margin: 0 20px;
    border-radius: 6px;
    box-shadow: inset 2px 2px 5px black, 2px 2px 5px var(--section-color-01);
}

.project-img:hover{
    opacity: .5;
}

@media screen and (max-width: 1320px) {
    .section-04 .section-04-wrapper-projects{
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 200px;
        
    }
    .section-04 .project-img{
        margin-top: 50px;
    }
    .section-04{
        height: 150vh;
    }

}

@media screen and (max-width: 550px) {
    .section-04 .project-img{
        width: 340px;
        height: 200px;
    }
}


