.section-03{
    background-color: var(--section-color-01);
    height: 130vh;
    text-align: center;
    box-sizing: border-box;
}



.section-03-wrapper-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    height: auto;
    position: relative;
    top: 15%;
    margin-right: auto;
    margin-left: auto;
}

.section-03-wrapper-skills .item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    border: 2px solid var(--second-color);
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 5px var(--second-color);
}

/*HTML logo configuration*/
.section-03-html-img{
    width: 5rem;
}


.section-03-img{
    width: 4.5rem;
}


.section-03-title{
    font-family: "PT Sans", sans-serif;
    margin-left: 15px;
    color: var(--primary-color);
    font-size: 18px;
    display: inline-block;
}

@media screen and (max-width: 560px) {
    .section-03-wrapper-skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        top: 10%;
    }

    .section-03{
        height: 250vh;
    }

    .section-03-wrapper-skills .item:not(:first-child){
        margin-top: 50px;
    }


}

@media screen and (max-height: 420px) {
    .section-03{
        height: 250vh;
    }
}

